body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #6e84e4, #835ea8);
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 25px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

form {
    border: 2px solid black;
    border-radius: 30px;
    width: 500px;
    margin: auto;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.193);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn{
    display: flex;
}

button {
    width: 95%;
    padding: 10px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#dashbtn{
    width: 50%;
    margin: auto;
}

button:hover {
    background: #5a67d8;
}

p {
    margin-top: 15px;
}

#dashpara{
    text-align: center;
}

a {
    color: white;
}

.password-box {
  position: relative;
  width: 90%;
}

.password-box input {
  width: 100%;
  padding: 10px;
  /* padding-right: 40px; */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.eye {
  position: absolute;
  right: 10px;
  top: 30%;
  bottom: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
}